body, html {
    height:100%;
    margin:0;
    /*background-color:black;*/
    background-color:white;
}

#bgimg {
    background-image: url("images/bg-image.jpg");
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#content {
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
    width:100%;
    height:100%;
}

/* Inputs field */
#input {
    display:grid;
    grid-template-columns: 180px 180px 100px;
    grid-template-rows: 50px;
    align-items:end;
    justify-items:center;
    align-content:center;
    justify-content:center;
    color:white;
    width:60%;
    height:20%;
}

#input>* {
    display:grid;
    justify-items:center;
}

input,#btn {
    height:20px;
    color:white;
    background-color:transparent;
    border:2px white solid ;
    border-radius:3px;
    text-align:center;
}

input:focus {
    outline:none;
    background-color:rgba(255, 255, 255, 0.2);
}

#btn:hover {
    background-color:rgba(255, 255, 255, 0.2);
    transition-duration:200ms;
}

#btn:active {
    background-color:rgba(255, 255, 255, 0.4);
    transition-duration:50ms;
}

#btn {
    height:24px;
}

/* Results section */
#results {
    width:100%;
    height:70%;
}

#dayselector {
    width:100%;
    height:50%;
    display:grid;
    grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% ;
    grid-template-rows: 190px;
    gap:6px;
    justify-content: center;
    align-content: center;
}

#dayselector>div {
    background-color:rgba(255,255,255,0.1);
    border: 3px solid white;
    border-radius: 10px;
    display:flex;
    flex-direction:column;
    justify-content: center;
}

#dayselector>div:hover {
    transform:scale(1.1)
}

#dayselector>div>p {
    overflow:hidden;
    text-overflow: ellipsis;
}

#dayselector>div>* {
    margin:10px auto;
    text-align:center;
    color:white;
    font-weight:bold;
    justify-content: center;
}

#dayselector>div>img {
    width:60%;
}